%h1
  Title
  = @blog.title
= link_to 'Back', root_path
- if @entries.present?
  %table
    %caption Listing entries
    %thead
      %tr
        %th Title
        %th Body
    %tbody
      - @entries.each do |entry|
        %tr
          %td= entry.title
          %td= entry.body
          %td
            = link_to "Show", "/blog/#{@blog.id}/entry/#{entry.id}"
            = link_to "Edit", "/blog/#{@blog.id}/entry/#{entry.id}", method: :post
            = link_to "Delete", "/blog/#{@blog.id}/entry/#{entry.id}", method: :delete

= link_to "New Entry", new_blog_entry_path(@blog.id)
= link_to "CSVダウンロード", blog_entry_index_path(@blog.id, format: :csv)
